{% include 'header.html'  %} 

<h1 class="text-center m-5">Lista de Tareas</h1>

<div class="container my-5">

  <a href="{{ url_for('create') }}" class="btn btn-primary ms-3 button">Agregar Tarea</a>

  <table class="table table-striped table-bordered mt-3 border border-black">
    <thead class="text-center">
      <tr>
        <th>Título</th> 
        <th>Descripción</th> 
        <th>Fecha Límite</th> 
        <th>Acciones</th> 
      </tr>
    </thead>
    <tbody>
      {% for tarea in tareas %}
      <tr>
        <td>{{ tarea[1] }}</td>
        <td>{{ tarea[2] }}</td>
        <td>{{ tarea[3] }}</td>
        <td>
          <a href="{{ url_for('edit', id=tarea[0]) }}" class="btn btn-sm btn-warning">Editar</a>
          <a href="{{ url_for('delete', id=tarea[0]) }}" class="btn btn-sm btn-danger">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% include 'footer.html'  %}


